main{
    width: 100%;
    height: 3200px;
}html{
    overflow: auto;
}
.node-content {
    display: inline-block; 
    white-space: nowrap;   
    height: 31px;
    padding-left:10px;
    padding-right:10px;
}


.category{ 
 
    font-family: 'ABCDiatype-Regular', sans-serif;
    letter-spacing: 0.5px;
height: 31px;
text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 30.48px;

    background: #000;
}

svg{
    width: 100%;
    height: 100%;
}

.link{
    font-family: 'ABCDiatype-Regular', sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 39px;
letter-spacing: 0.5px;
text-align: center;
height: 39px;
text-decoration: underline;
transition: 0.3s;
z-index: 100;

color: black;
background-color: rgba(230, 230, 230, 1);
}

.link:hover{
    border-radius: 19.5px;
    

}

.useful-links{
    height: 39px;
    font-family: "Suisse-Intl-Mono", sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(230, 230, 230, 1);
    line-height: 37.48px;
    text-align: center; 
}


#all-links-background{
    position: fixed;
    z-index: -1;
    width: 928.756px;
height: 556.083px;
top: 221.47px;
left: 50%;
transform: translateX(-50%);
}


.category-navbar{
    display: flex;
    position: fixed;
    top: 81px;
    left: 32px;
    gap: 5px;
    width: 100%;
    line-height: 30px;
    font-family: 'ABCDiatype-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    z-index: 1001;
}
.category-active{
background: #9D9D9D !important;

}

.category-navbar a{
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    color: #FFF;
    border-radius: 19.551px;
background: #FF5E30;
min-width: 140px;
}

.category-navbar a:hover{
    
background: #9D9D9D;
}