
#shop-container{
    position: relative;
}

#shopTitle{
    color: #000;
    font-family: 'ABCDiatype-Regular', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px; /* 118.75% */
text-transform: uppercase;
top: 69px;
left: 39px;
position: absolute;
}

#par1{
    position: absolute;
    left: 40px;
    top: 108px;
    display: flex;
width: 615px;

color: #000;
font-family: 'ABCDiatype-Regular', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 121.429% */
}

#par2{
    position: absolute;
    left: 40px;
    top: 259px;
    font-family: 'ABCDiatype-Regular', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 121.429% */
width: 615px;

}
#par3{
width: 612px;
color: var(--MUD-GREEN, #747D03);
font-family: 'ABCDiatype-Regular', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 25px;
position: absolute;
right: 103px;
top: 108px;
}
#par3 a{
    color: var(--MUD-GREEN, #007AFF);
text-decoration-line: underline;
}
#par4{
    color: var(--MUD-GREEN, #747D03);
    font-family: 'ABCDiatype-Regular', sans-serif;
    font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 27.825px; /* 231.879% */
position: absolute;
top: 304px;
right: 337px;
}
#par5{
    position: absolute;
    color: var(--MUD-GREEN, #747D03);
    font-family: 'ABCDiatype-Regular', sans-serif;
    font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 27.825px; /* 231.879% */
    top: 321px;
    right: 364px;
}
#par6, #features{
    
    position: absolute;
    color: var(--MUD-GREEN, #747D03);
    width: 674px;
    font-family: 'ABCDiatype-Regular', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 125% */
}
#par6{
    top: 358px;
    right: 46px;
}
#features{
    top: 432.94px;
    right: 46px;
}
#product-name{
    font-family: 'ABCDiatype-Regular', sans-serif;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(3px);    position: absolute;
    top: 849.44px;
    left: 41px;
    padding: 9.5px 16.18px;
    width: 335px;
    height: 32px;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 107.692% */
letter-spacing: 0.5px;
text-transform: capitalize;
text-align: center;
display: flex;
justify-content: center;
}


#author{
width: 615px;
left: 41px;
top: 900px;
}
#author, #emailus{
    position: absolute;
    color: #000;
    font-family: 'ABCDiatype-Regular', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
#emailus{
    width: 401px;
    left: 41px;
    
    top:922px;
}
#n-product{
    position: absolute;
  top: 930px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 33px 0px;
  color: #000;
  font-family: 'ABCDiatype-Regular', sans-serif;
  font-size: 16px;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
}

#shop1{
    width: 93px;
    height: 89px;
    position: absolute;
    left: 558px;
    top: 746px;
}
#shop2{
    width: 181px;
    height: 188px;
    position: absolute;
right: 29px;
top: 726px;
}

.swiper {
    width: 100%;
    height:924px;
    overflow: hidden; /* Asegura que no hay desbordamiento visible */
    position:relative;
  }
  .swiper-slide {
    position:relative;
    top:100px;
    height:100vh;
    width: 100%; /* Asegúrate de que cada slide tenga el 100% del ancho del contenedor de Swiper */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center;
    perspective-origin: center; /* Origen de la perspectiva ajustado */}

  .product-container{
    position: relative;
  }
  .product {
    /* Centrar el producto dentro del slide si hay más espacio disponible */
    margin: auto;
  }
  #product1{
    width: 744.668px;
height: 744.668px;
position: absolute;
  top: -42px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  }
  #product2{
    width: 1120.35px;
position: absolute;
  top: 132px;
  left: 50%;
  transform: translateX(-50%);
  }
  #product3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1082px;
height: 540px;
top: 65px;
  }

  #product4{
    width: 651px;
position: absolute;
transform: translateX(-50%);
top: 10px;
  }

  #product5{
    width: 562.806px;
    height: 567.998px;
position: absolute;
transform: translateX(-60%);
top: 10px;
  }
  #product6{
    width: 1145.148px;
    position: absolute;
transform: translateX(-50%);
top: 95px;
  }

  #product7{
    width: 651.5px;
    height: 651.5px;    position: absolute;
transform: translateX(-50%);
top: 10px;
  }

  #product8{
    width: 1081.533px;
height: 542.93px;
     position: absolute;
transform: translateX(-50%);
top: 65px;
  }


  