
#app{
    height: 926px; 
    width: 100%;
  }
  
html{
    overflow: auto;
}
.node-content {
    display: inline-block; 
    white-space: nowrap;   
    height: 31px;
    padding-left:10px;
    padding-right:10px;
    
    
}


.useful-links{
height: 39px;
font-family: 'ABCDiatype-Regular', sans-serif;
font-size: 14px;
font-weight: 400;
background-color: rgba(230, 230, 230, 1);
line-height: 37.48px;
text-align: center; 
}


.category{ 
 
    font-family: 'ABCDiatype-Regular', sans-serif;
    letter-spacing: 0.5px;
height: 31px;
text-align: center;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    line-height: 30.48px;
}

svg{
    width: 100%;
    height: 100%;
}

.link{
    font-family: 'ABCDiatype-Regular', sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 39px;
letter-spacing: 0.5px;
text-align: center;
color: black;
height: 39px;
background-color: rgba(230, 230, 230, 1);
text-decoration: underline;
transition: 0.3s;
z-index: 100;

}

.link:hover{
    border-radius: 19.5px;

}

main h2{
    font-family: 'ABCDiatype-Regular', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: left;
margin-bottom: 32px;
position: absolute;
width: 324px;
height: 11px;
top: 127px;
left: 40px;
z-index: -1;
}

.links-menu-text{
    font-family: 'ABCDiatype-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    position: absolute;
    width: 564px;
height: 85px;
top: 166px;
left: 40px;

z-index: -1;
    
}

#usefulLinks1{
    z-index: -1;
    position: absolute;
width: 583.381px;
height: 338.733px;
top :539px;
left: 56px;
gap: 0px;
opacity: 0px;

}


.category-navbar{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 59px;
    width: 100%;
    height: 28px;
    line-height: 30px;
    font-family: 'ABCDiatype-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    z-index: 1;
}
.category-active{
    background: #007AFF !important;
    color: #FFF !important;

}

.category-navbar a{
    flex: content;
    background-color: black;
    display: block;
    text-align: center;
    color: white;
    border-right: 1px solid white;
}

.category-navbar a:hover{
    
background: #007AFF;
}

.categoryImage{
    position: absolute;
    z-index: -1;
}
#creative1{
    top: 498px;
    left:396px ;
    width: 604.716px;
height: 374.07px;
}
#creative2{
    top: 562px;
    left:963px ;
    width: 374.461px;
    height: 271.685px;
}
#reading{
    right: 61px;
    top: 516.11px;width: 432.521px;
    height: 418.563px;
}
#reading2{
    right: 61px;
    top: 214.76px;
    width: 371.305px;
height: 276.24px;
}
#AI1{
left: 64.15px;
top: 149.67px;
width: 532.16px;
height: 635.392px;

}
#resource1{
top: 142.2px;
left: 48px;width: 565px;
height: 781.644px;
}
#web1{
    right:19.84px;
    top: 158.13px;
    width: 654.157px;
    height: 780.852px;
}

#code1{
right: 467.62px;
top: 389.94px;width: 343px;
height: 300px;
}
#code2{
right: 53.78px;
top: 257.21px;
z-index: -2;width: 515.288px;
height: 565.462px;
flex-shrink: 0;
}
#potential1{
left: 84.12px;
top: 363.66px;
width: 593.265px;
height: 533.404px;
}
#contribute{
    display: block;
    position: absolute;
    left: 41px;
    top: 107.47px;
    color: #000;
font-size: 11px;
font-style: normal;
font-weight: 400;
text-decoration-line: underline;
font-family: 'ABCDiatype-Regular', sans-serif;
}
#contribute:hover{
  color: #007AFF;
}